<template>
  <div class="container">
    <button @click="showusers" class="buttonusers">Show user</button>
    &nbsp;
    <button @click="showposts" class="buttonposts">Show Post</button>
    &nbsp;
    <button @click="showcomments" class="buttoncomments">Show Comment</button>
    &nbsp;
    <button @click="showphotos" class="buttonphotos" >Show Photos</button>
    
    <br />
    <br />
    
    <div class="card ">
      <div class="card-header bg-success text-center">Users</div>
      <div class="card-body ">
        <p class="card-text" v-for="user in users" :key="user.id">{{user.name}}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-info"  @click="deleteUsers(user)">Delete User</button>
        </div>
      
    </div>
    <br />
    <div class="card">
      <div class="card-header bg-success">Posts</div>
      <div class="card-body">
        <p class="card-text" v-for="post in posts" :key="post.id">{{post.id}}</p>
      </div>
      <div class="card-footer">
          <button class="btn btn-info"  @click="deletePosts(post)">Delete Post</button>
        </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header bg-success">Comments</div>
      <div class="card-body">
       <ul>
       <li type="square" class="card-text" v-for="comment in comments" :key="comment.id">{{comment.email}}</li>
       </ul>
        
      </div>
      <div class="card-footer" >
          <button class="btn btn-info" @click="deleteComments(comment)">Delete Comment</button>
        </div>
    </div><br>
    <div class="card">
      <div class="card-header bg-success">Photos</div>
      <div class="card-body">
       
       <p type="square" class="card-text" v-for="photo in photos" :key="photo.id">{{photo.title}}</p>
       
        
      </div>
      <div class="card-footer" >
          <button class="btn btn-info" @click="deletephotos(photo)">Delete Photo</button>
        </div>
    </div>
    
 
 </div>
</template>
<script>
export default{
    name: 'Showaxio',
    data(){
    return{
      users:[],
      posts:[],
      comments:[],
      photos:[]
     
      
    }
  },
    methods: {
        showusers(){
                this.posts=[]
                this.comments=[]
                this.photos=[]
               axios.get('https://jsonplaceholder.typicode.com/users/1').then(response => {
                this.users=response.data
                 })
              },
               
       
          showposts(){
                  this.users=[]
                  this.comments=[]
                  this.photos=[]
                 axios.get('https://jsonplaceholder.typicode.com/posts').then(response => {
                 this.posts=response.data
               })
              },
          showcomments(){
                 this.users=[]
                 this.posts=[]
                 this.photos=[]
                 axios.get('https://jsonplaceholder.typicode.com/comments').then(response => {
                 this.comments=response.data
                 })
               },
               showphotos(){
                 this.users=[]
                 this.posts=[]
                 this.comments=[]
                 axios.get('https://jsonplaceholder.typicode.com/photos').then(response => {
                   this.photos=response.data
                 })
               },
               

                 
               
    
                deleteUsers: function(user){
                  axios.delete('https://jsonplaceholder.typicode.com/users/' + this.user)
                         .then((response) => {
                        this.users=response.data
                        })
                  
                      }, 
                deletePosts: function(post){
                  axios.delete('https://jsonplaceholder.typicode.com/posts/' + this.post)
                         .then((response) => {
                        this.posts=response.data
                         })
                  
                }, 
                deleteComments: function(comment){
                  axios.delete('https://jsonplaceholder.typicode.com/comments/' + this.comment)
                         .then((response) => {
                        this.comments=response.data
                         })
                } ,
                deletephotos: function(photo){
                  axios.delete('https://jsonplaceholder.typicode.com/photos/1' + this.photo)
                         .then((response) => {
                        this.photos=response.data
                         })
                }

              }
            }

</script>
<style scoped>
.buttonusers{
    background-color: blue;
    color: white;
    
}
.buttonposts{
    background-color: blue;
    color: white;
    
}
.buttoncomments{
    background-color: blue;
    color: white;
    
}
.buttonphotos{
    background-color: blue;
    color: white;
    
}


</style>