<template>
  <div id="app">
    <Showaxio/>
    
  </div>
</template>

<script>
import Showaxio from './components/Showaxio.vue'

window.axios=require('axios')

export default {
  name: 'app',
   components: {
    Showaxio
    
  },
  data(){
    return{
      users:[],
      posts:[],
      comments:[],
      photos:[],
      
    }
  }
  
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
